In [4]:
import pandas as pd

my_grades2 = [{"English": "A"}, {"Math": "B+"}, {"Science": "C+"}]
my_grades2 = pd.DataFrame(my_grades2)
my_grades2

  English Math Science
0       A  NaN     NaN
1     NaN   B+     NaN
2     NaN  NaN      C+

In [5]:
{"English": "A", "Math": "B+", "Science": "C+"}
my_grades3 = [{"English": "A", "Math": "B+", "Science": "C+"}]
my_grades3 = pd.DataFrame(my_grades3)
my_grades3

  English Math Science
0       A   B+      C+

In [6]:
my_grades3a = [{"English": "A", "Math": "B+", "Science": "C+"}, {"Gym": "A", "Art": "B+", "Tech.": "C+"}]
my_grades3a = pd.DataFrame(my_grades3a)
my_grades3a

  English Math Science  Gym  Art Tech.
0       A   B+      C+  NaN  NaN   NaN
1     NaN  NaN     NaN    A   B+    C+

In [7]:
English = ["A"]
Math = ["B+"]
Science = ["C+"]

my_grades4 = {"English": English, "Math": Math, "Science": Science}
my_grades4 = pd.DataFrame(my_grades4)
my_grades4

  English Math Science
0       A   B+      C+

In [12]:
mygrades_5 = my_grades4.set_index(["English"])["Math"]
mygrades_5

English
A    B+
Name: Math, dtype: object